<header class="header">
    <div class="header-container">
        <img src="assets/fow-logo.png" alt="Food on Wheels!" class="header-logo-image" width="60" height="60">
        <h1 class="header-logo-text">Food on Wheels!</h1>
        <nav class="header-nav">
            <div class="user-avatar">
                <span class="user-name">Hey {{ username }}!</span>
                <img src="assets/user-avatar-images/John Doe.jpg" alt="User Avatar" class="avatar-image" width="37" height="37">
            </div>
        </nav>
    </div>
</header>
