.avatar-image {
  border-radius: 50%;
}

.user-name {
  color: #fff;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.user-avatar {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
