* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: #CF0202;
    padding: 10px;
    align-items: center;
    border-radius: 18px; /* Rounded edges */
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
}

.header-logo-text {
  color: #fff;
  padding-left: 20px;
}

.header-logo-image {
  padding-top: 10px;
  border-radius: 50%;
}